<link rel= "stylesheet" href= "styles.css">

* {
    font-family: arial
    margin: 5%, 10%
    
 
  <img src="https://ibb.co/HN9Bwpv" alt="Shukri">


}

  text-align: left
.keyqualifications-header {
  text-transform: ;
  border-top: 1px solid #444444
  border-bottom: 1px solid #444444
    
}


  
.Education-header {
  font-family: arial
  text-transform: uppercase;
  border-top: 1px solid #444444
  border-bottom: 1px solid #444444
    
}

}
font-family: arial
.Work-Experience-header {
  text-transform: uppercase;
  border-top: 1px solid #444444
  border-bottom: 1px solid #444444
    
}


